<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">

    <!-- Back Button here! -Yukina -->
    <ion-item class="back-btn">
      <ion-button expand="block" fill="outline">
        <fa-icon class="custom-icon" icon="angle-left"></fa-icon>Back
      </ion-button>
    </ion-item>

    <form [formGroup]="editForm" (ngSubmit)="saveForm()">
      <ion-item>
        <ion-label class="placeholder" position="floating">Folder Title...</ion-label>
        <ion-input formControlName="notebook_title" type="text" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="secondary" shape="block" expand="block">
            Update Folder Title
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
  <ion-list lines="full">
    <form [formGroup]="mainForm" (ngSubmit)="storeData()">
      <ion-item>
        <ion-label class="placeholder" position="floating">Note title...</ion-label>
        <ion-input formControlName="note_title" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="placeholder" position="floating">Note text...</ion-label>
        <ion-input formControlName="note_text" type="text" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="block" expand="block">
            <fa-icon class="custom-icon" icon="plus"></fa-icon> Add Note
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
  <ion-list>
    <ion-list-header class="h2">
      Notes in {{ title }}
    </ion-list-header>
    <ion-item lines="inset" *ngFor="let note of noteList">
      <ion-label>
        <h5>{{note.note_title}}</h5>
      </ion-label>
      <div class="item-note" item-end>
        <ion-icon class="mr5" name="create" style="zoom:1.5" [routerLink]="['/note/', note.id]"></ion-icon>        
        <ion-icon name="trash" style="zoom:1.5" (click)="deleteNote(note.id)"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
