/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  .dark-theme {
    --ion-color-primary: #9e68bb;
    --ion-color-primary-rgb: 158,104,187;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #8b5ca5;
    --ion-color-primary-tint: #a877c2;

    --ion-color-secondary: #d3a9ea;
    --ion-color-secondary-rgb: 211,169,234;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #ba95ce;
    --ion-color-secondary-tint: #d7b2ec;

    /** light **/
    --ion-color-light: #f4f5f800;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da00;
    --ion-color-light-tint: #f5f6f900;


    ion-content {
      --background: #333a46;
    }

    ion-toolbar {
      --background: #333a46;
      --color: #fff;
    }

    ion-list {
      --ion-item-background: #333a46;
      --ion-item-color: #fff;

      ion-list-header {
        --color: #fff;
      }
    }

    ion-card {
      --color: #fff;

      ion-card-title {
        --color: #fff;
      }
    }

    ion-tab-bar {
      --background: #333a46;
      --color: #fff;
    }

    .h2{
      color: #d3a9ea;
    }

    .modes ion-button fa-icon{
      color: #ffffff;
    }
  }
}
