<ion-header [translucent]="true">
  <ion-toolbar class="modes">
    <ion-button size="small" color="light" (click)="enableLight()">
      <fa-icon icon="sun"></fa-icon>
    </ion-button>
    <ion-button size="small" color="light" (click)="enableDark()">
      <fa-icon icon="moon"></fa-icon>
    </ion-button>
    <ion-title>
      Notebooks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full" class="mt20">
    <form [formGroup]="mainForm" (ngSubmit)="storeData()">
      <ion-item class="btn-position">
        <ion-label class="placeholder" position="floating">Folder title...</ion-label>
        <ion-input formControlName="notebook_title" type="text" required></ion-input>
        <ion-button class="add" type="submit" color="primary" shape="undefined" expand="block">
          <fa-icon class="add-icon" icon="plus"></fa-icon>
        </ion-button>
      </ion-item>
      <!-- <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="block" expand="block">
            <fa-icon class="custom-icon" icon="plus"></fa-icon> Add Folder
          </ion-button>
        </ion-col>
      </ion-row> -->
    </form>
  </ion-list>

  <ion-list class="mt20">
    <ion-list-header class="h2">
      Folders
    </ion-list-header>
    <ion-item class="mt20" lines="inset" *ngFor="let data of Data">
      <ion-label>
        <h5>{{data.notebook_title}}</h5>
      </ion-label>
      <div class="item-note" item-end>
        <ion-icon class="mr5" name="create" style="zoom:1.5" [routerLink]="['/notebook/', data.id]"></ion-icon>
        <ion-icon name="trash" style="zoom:1.5" (click)="deleteNotebook(data.id)"></ion-icon>
      </div>
    </ion-item>
  </ion-list>

  <!--  Testing variable components - Use this as a guide
  <ion-list>
    <ion-item *ngFor="let item of items" class="dynamic-item" [style]="getDynamicColor(item.color)">
      <ion-label>{{item.text}}</ion-label>
    </ion-item>
  </ion-list>
  !-->

</ion-content>
