#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.dynamic-item {
  --background: var(--myvar);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.modes{
  position:absolute;
  width: 100%;
  bottom: 10px;
}

.modes ion-button{
  width: 50%;
  height: 5vh;
}

.custom-icon{
  padding-right: 5px;
}

.back-btn{
  width: 100%;
}

.back-btn ion-button{
  width: 100%;
}

.placeholder{
  color: #9d9fa6;
}