<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notebooks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <form [formGroup]="mainForm" (ngSubmit)="storeData()">
      <ion-item>
        <ion-label position="floating">Notebook title</ion-label>
        <ion-input formControlName="notebook_title" type="text" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">
            Add Notebook
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Notebooks
    </ion-list-header>
    <ion-item lines="inset" *ngFor="let data of Data">
      <ion-label>
        <h5>{{data.notebook_title}}</h5>
      </ion-label>
      <div class="item-note" item-end>
        <ion-icon name="create" style="zoom:2.0" [routerLink]="['/notebook/', data.id]"></ion-icon>        
        <ion-icon name="trash" style="zoom:2.0" (click)="deleteNotebook(data.id)"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
